@charset "UTF-8";
/*
-
FRAMEWORK DO v1.1
-
*/
/*
-
Les couleurs !!!
-
*/
.filter-invert {
  filter: invert(1) grayscale(1);
}

.darkmode {
  --second-color: var(--contraste) !important;
  --contraste-color: var(--second) !important;
  --main-color: var(--fade) !important;
  --fade-color: var(--main) !important;
  --second1-color: var(--contraste1) !important;
  --contraste1-color: var(--second1) !important;
  --main1-color: var(--fade1) !important;
  --second2-color: var(--contraste2-n) !important;
  --contraste2-color: var(--second2) !important;
  --main2-color: var(--fade2) !important;
  --second3-color: var(--contraste3) !important;
  --contraste3-color: var(--second3) !important;
  --main3-color: var(--fade3) !important;
  --second4-color: var(--contraste4) !important;
  --contraste4-color: var(--second4) !important;
  --main4-color: var(--fade4) !important;
  --second5-color: var(--contraste5) !important;
  --contraste5-color: var(--second5) !important;
  --main5-color: var(--fade5) !important;
  --second1-n-color: var(--contraste1-n) !important;
  --contraste1-n-color: var(--second1-n) !important;
  --main1-n-color: var(--second) !important;
}

/*
-
FRAMEWORK DO v1.1
-
Core de la créature
-
*/
:root {
  --xxxs: 0.34;
}
:root {
  --xxs: 0.55;
}
:root {
  --xs: 0.89;
}
:root {
  --sm: 1.44;
}
:root {
  --md: 2.33;
}
:root {
  --lg: 3.77;
}
:root {
  --xl: 6.1;
}
:root {
  --xxl: 9.87;
}
:root {
  --xxxl: 15.97;
}

.do-py-xxs {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

.do-scale-xs {
  transform: scale(0.89);
}
.do-p-sm {
  padding: 1.44rem;
}


#nav a.main-link {
  padding-top: 1.44rem;
  padding-bottom: 1.44rem;
}


#nav a.main-link {
  margin-right: 1.44rem;
}

.do-h-sm {
  height: 1.44rem;
}

.do-wh-sm {
  width: 1.44rem;
  height: 1.44rem;
}

.do-scale-sm {
  transform: scale(1.44);
}

.right-sm-rem {
  right: 1.44rem;
}

.do-h-md {
  height: 2.33rem;
}

.do-w-md {
  width: 2.33rem;
}

.do-br-md {
  border-radius: 2.33rem;
}

.do-gap-md {
  grid-gap: 2.33rem;
}

.do-mb-lg {
  margin-bottom: 3.77rem;
}

.do-h-px-lg {
  height: 3.77px;
}

.top-lg-rem {
  top: 3.77rem;
}

.do-px-smart-xl {
  padding-left: 0.7625rem;
  padding-right: 0.7625rem;
}

@media screen and (min-width: 320px) {
  .do-px-smart-xl {
    padding-left: 0.87rem;
    padding-right: 0.87rem;
  }
}
@media screen and (min-width: 576px) {
  .do-px-smart-xl {
    padding-left: 1.02rem;
    padding-right: 1.02rem;
  }
}
@media screen and (min-width: 768px) {
  .do-px-smart-xl {
    padding-left: 1.22rem;
    padding-right: 1.22rem;
  }
}
@media screen and (min-width: 992px) {
  .do-px-smart-xl {
    padding-left: 1.53rem;
    padding-right: 1.53rem;
  }
}
@media screen and (min-width: 1200px) {
  .do-px-smart-xl {
    padding-left: 2.03rem;
    padding-right: 2.03rem;
  }
}
@media screen and (min-width: 1400px) {
  .do-px-smart-xl {
    padding-left: 3.05rem;
    padding-right: 3.05rem;
  }
}
@media screen and (min-width: 1600px) {
  .do-px-smart-xl {
    padding-left: 6.1rem;
    padding-right: 6.1rem;
  }
}

.do-py-xxl {
  padding-top: 9.87rem;
  padding-bottom: 9.87rem;
}

.do-mt-xxl {
  margin-top: 9.87rem;
}


section {
  padding-left: 1.23375rem;
  padding-right: 1.23375rem;
}

@media screen and (min-width: 320px) {
  
section {
    padding-left: 1.41rem;
    padding-right: 1.41rem;
  }
}
@media screen and (min-width: 576px) {
  
section {
    padding-left: 1.65rem;
    padding-right: 1.65rem;
  }
}
@media screen and (min-width: 768px) {
  
section {
    padding-left: 1.97rem;
    padding-right: 1.97rem;
  }
}
@media screen and (min-width: 992px) {
  
section {
    padding-left: 2.47rem;
    padding-right: 2.47rem;
  }
}
@media screen and (min-width: 1200px) {
  
section {
    padding-left: 3.29rem;
    padding-right: 3.29rem;
  }
}
@media screen and (min-width: 1400px) {
  
section {
    padding-left: 4.94rem;
    padding-right: 4.94rem;
  }
}
@media screen and (min-width: 1600px) {
  
section {
    padding-left: 9.87rem;
    padding-right: 9.87rem;
  }
}

.do-h-xxxl {
  height: 15.97rem;
}

.pof {
  position: fixed !important;
}

.por {
  position: relative;
}

.poa {
  position: absolute !important;
}

.center {
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

[do-event-scroll=down] .scroll-down\:trans-y-before {
  transform: translateY(-100%);
}

.left {
  left: 0%;
}

.top {
  top: 0%;
}

.bottom {
  bottom: 0%;
}

.do-align-items-center {
  align-items: center;
}

.do-justify-content-center {
  justify-content: center;
}

.do-justify-content-end {
  justify-content: end;
}

.do-justify-content-space-between {
  justify-content: space-between;
}

[do-event-scroll=down] .scroll-down\:do-o-0 {
  opacity: 0;
}

.do-z-0 {
  z-index: 0;
}

.do-o-1 {
  opacity: 0.1;
}

.do-z-1 {
  z-index: 1;
}

.do-blur-1 {
  filter: blur(1rem);
}

.do-z-2 {
  z-index: 2;
}

.do-z-9 {
  z-index: 9;
}

.do-h-10-vh,
section {
  min-height: 100vh;
}

.do-w-10 {
  width: 100%;
}

.do-z-10 {
  z-index: 10;
}

.active .deep-active\:do-trans-x-6 {
  transform: translateX(60%);
}

:root {
  --main: #2E3454;
  --main-color: var(--main);
}

:root {
  --main1: #2c3150;
  --main1-color: var(--main1);
}

:root {
  --main1-n: #353c60;
  --main1-n-color: var(--main1-n);
}

:root {
  --main2: #292f4c;
  --main2-color: var(--main2);
}

:root {
  --main2-n: #3b436d;
  --main2-n-color: var(--main2-n);
}

:root {
  --main3: #272c47;
  --main3-color: var(--main3);
}

:root {
  --main3-n: #424b79;
  --main3-n-color: var(--main3-n);
}

:root {
  --main4: #252a43;
  --main4-color: var(--main4);
}

:root {
  --main4-n: #495285;
  --main4-n-color: var(--main4-n);
}

:root {
  --main5: #23273f;
  --main5-color: var(--main5);
}

:root {
  --main5-n: #505a91;
  --main5-n-color: var(--main5-n);
}

[data-do-bg=second] {
  background-color: var(--second-color) !important;
}

:root {
  --second: #ffffff;
  --second-color: var(--second);
}

.do-bg-second-color {
  background-color: var(--second-color) !important;
}

:root {
  --second1: #f2f2f2;
  --second1-color: var(--second1);
}

.do-bg-second1-color {
  background-color: var(--second1-color) !important;
}

:root {
  --second1-n: white;
  --second1-n-color: var(--second1-n);
}

:root {
  --second2: #e6e6e6;
  --second2-color: var(--second2);
}

:root {
  --second2-n: white;
  --second2-n-color: var(--second2-n);
}

:root {
  --second3: #d9d9d9;
  --second3-color: var(--second3);
}

:root {
  --second3-n: white;
  --second3-n-color: var(--second3-n);
}

:root {
  --second4: #cccccc;
  --second4-color: var(--second4);
}

:root {
  --second4-n: white;
  --second4-n-color: var(--second4-n);
}

:root {
  --second5: #bfbfbf;
  --second5-color: var(--second5);
}

:root {
  --second5-n: white;
  --second5-n-color: var(--second5-n);
}

:root {
  --contraste: #131319;
  --contraste-color: var(--contraste);
}

.do-bg-contraste-color {
  background-color: var(--contraste-color) !important;
}

.do-fill-contraste-color {
  fill: var(--contraste-color) !important;
}

:root {
  --contraste1: #121218;
  --contraste1-color: var(--contraste1);
}

:root {
  --contraste1-n: #1d1d26;
  --contraste1-n-color: var(--contraste1-n);
}

:root {
  --contraste2: #111117;
  --contraste2-color: var(--contraste2);
}

:root {
  --contraste2-n: #272733;
  --contraste2-n-color: var(--contraste2-n);
}

:root {
  --contraste3: #101015;
  --contraste3-color: var(--contraste3);
}

:root {
  --contraste3-n: #313141;
  --contraste3-n-color: var(--contraste3-n);
}

:root {
  --contraste4: #0f0f14;
  --contraste4-color: var(--contraste4);
}

:root {
  --contraste4-n: #3b3b4e;
  --contraste4-n-color: var(--contraste4-n);
}

:root {
  --contraste5: #0e0e13;
  --contraste5-color: var(--contraste5);
}

:root {
  --contraste5-n: #45455b;
  --contraste5-n-color: var(--contraste5-n);
}

:root {
  --extra: #FA372E;
  --extra-color: var(--extra);
}

:root {
  --extra1: #fa2920;
  --extra1-color: var(--extra1);
}

:root {
  --extra1-n: #fa4138;
  --extra1-n-color: var(--extra1-n);
}

:root {
  --extra2: #f91b11;
  --extra2-color: var(--extra2);
}

:root {
  --extra2-n: #fb4b43;
  --extra2-n-color: var(--extra2-n);
}

:root {
  --extra3: #f61006;
  --extra3-color: var(--extra3);
}

:root {
  --extra3-n: #fb554d;
  --extra3-n-color: var(--extra3-n);
}

:root {
  --extra4: #e70f06;
  --extra4-color: var(--extra4);
}

:root {
  --extra4-n: #fb5f58;
  --extra4-n-color: var(--extra4-n);
}

:root {
  --extra5: #d90f05;
  --extra5-color: var(--extra5);
}

:root {
  --extra5-n: #fb6962;
  --extra5-n-color: var(--extra5-n);
}

:root {
  --fade: #D2D4EA;
  --fade-color: var(--fade);
}

.do-bg-fade-color {
  background-color: var(--fade-color) !important;
}

:root {
  --fade1: #c3c6e3;
  --fade1-color: var(--fade1);
}

:root {
  --fade1-n: #d4d6eb;
  --fade1-n-color: var(--fade1-n);
}

:root {
  --fade2: #b4b7dc;
  --fade2-color: var(--fade2);
}

:root {
  --fade2-n: #d7d8ec;
  --fade2-n-color: var(--fade2-n);
}

:root {
  --fade3: #a5a9d5;
  --fade3-color: var(--fade3);
}

:root {
  --fade3-n: #d9daed;
  --fade3-n-color: var(--fade3-n);
}

:root {
  --fade4: #959ace;
  --fade4-color: var(--fade4);
}

:root {
  --fade4-n: #dbddee;
  --fade4-n-color: var(--fade4-n);
}

:root {
  --fade5: #868cc7;
  --fade5-color: var(--fade5);
}

:root {
  --fade5-n: #dddfef;
  --fade5-n-color: var(--fade5-n);
}

.do-block {
  display: block;
}

.do-flex {
  display: flex;
}

.do-hide {
  display: none;
}

.tween-trans {
  transition-property: transform !important;
}

.do-full {
  height: 100%;
  width: 100%;
}

.do-overflow-hidden {
  overflow: hidden;
}

.do-flex-center {
  align-items: center;
  justify-content: center;
}

.do-col {
  flex-direction: column;
}
@media screen and (min-width: 992px) {

  .lg-do-block {
    display: block;
  }

  .lg-do-hide {
    display: none;
  }

  .lg-do-row {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {

  .xl-do-h-md {
    height: 2.33rem !important;
  }
}
h1 {
  font-size: 3.77rem;
  font-size: max(3.77rem, 16px);
}

p {
  font-size: 0.89rem;
  font-size: max(0.89rem, 16px);
}

@media screen and (max-width: 768px) {
  p {
    font-size: 16px;
  }
}

a {
  font-size: 0.89rem;
  font-size: max(0.89rem, 16px);
}

@media screen and (max-width: 768px) {
  a {
    font-size: 16px;
  }
}

/*
-
FRAMEWORK DO
-
Easy design !
-
*/

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-size: clamp(10px, 1vw, 20px);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--contraste-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--contraste-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

a.reset {
  color: var(--main2-color);
}

a.reset:hover {
  color: var(--main-color);
}

/* Slider */

/* Arrows */

/* Dots */

#burger {
  border-radius: 100%;
}

#burger.active {
  transform: scale(1.2);
}

@media (max-width: 991.98px) {
  #main-nav.open {
    position: absolute;
    display: flex !important;
    gap: 3vh;
    width: 100%;
    height: 100vh;
    left: 0px !important;
    top: calc(var(--navHeight) * 1px);
    background-color: #ffffffdc;
    transform: none !important;
  }

  #main-nav.open a {
    display: block;
    text-align: center;
  }
}
.darkmode #main-nav.open {
  background-color: #000000dc;
}

#nav a.main-link {
  position: relative;
  text-transform: uppercase;
}

#nav a.main-link::after {
  content: "";
  z-index: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: var(--main-color);
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.2s, transform 0.4s;
}

#nav a.main-link::before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background-color: var(--contraste1-color);
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 0.2s, transform 0.4s;
}

#nav a.main-link:hover, #nav a.main-link.active {
  color: var(--second-color);
}

#nav a.main-link:hover::after, #nav a.main-link.active::after {
  opacity: 1;
  transform: scale(1);
}

#nav a.main-link:hover::before, #nav a.main-link.active::before {
  opacity: 1;
  transform: scale(1.2);
}

/*
-
FRAMEWORK DO
-
Tweens système
-
*/
*[class*=tween-] {
  transition: all 0.3s ease-out;
}

@keyframes tween-clip {
  0% {
    clip-path: polygon(0 85%, 0% 100%, 17% 100%);
  }
  50% {
    clip-path: polygon(0 38%, 39% 0, 100% 100%);
  }
  100% {
    clip-path: polygon(79% 0, 100% 0, 100% 23%);
  }
}

@keyframes tween-pulse {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes tween-roll-y {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}
@keyframes tween-roll3-x {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
@keyframes tween-roll4-x {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes tween-roll-x {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}
@keyframes tween-roll2-x {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
    transform: translateX(200%);
  }
  51% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes tween-roll2-y {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  30% {
    opacity: 0;
    transform: translateY(50%);
  }
  31% {
    opacity: 0;
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  99% {
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-10%);
  }
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10%);
  }
  1% {
    display: flex;
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fade-in-simple {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#hello {
  content: "welcome :)";
}
body {
  background-color: var(--second-color);
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  width: 100%;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.do-grad-0-second-color {
  background: linear-gradient(0deg, white 0%, #D2D4EA 100%);
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.do-bt-line {
  position: relative;
}

.do-bt-line:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: scaleX(1);
}

.do-bt-line:hover:after {
  opacity: 1;
  transform: scaleX(0);
}

/*# sourceMappingURL=style.css.map */
