<nav id="site-nav"
  class="do-flex do-z-1 do-h-10 do-bg-second-color poa top left do-y do-start-start do-py-sm do-pr-lg tween-all active:trans-x-before do-o-0 active:do-o-10">

  <div
    class="do-w-xs do-h-10 do-bg-extra-color-main-grad-linear-3 poa top left-n-xs-rem tween-trans deep-active:do-scale-x-0">
  </div>


  <div class="do-flex do-y do-start do-gap-sm por do-z-2">
      <div class="do-flex do-x do-start-center por">
        <div class="do-wh-md cursor-pointer do-p-xxs do-br-md tween-all do-bg-second-color:hover active:do-bg-second-color-darken active:do-trans-x-n-5" data-module="dotoggler" data-do-target="#do" data-do-group="theme">
          <div class="do-full tween-trans deep-active:do-rotate-10">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 40">
            	<g id="prev" transform="translate(-959 -292)">
            	  <path id="lines" class="do-stroke-contraste-color" d="M694.858,304.929l14.154,14.154,14.154-14.154" transform="translate(1290.66 -397.435) rotate(90)" fill="none"  stroke-width="1"/>
            	</g>
            </svg>
                        </div>
        </div>
        <a class="do-bt-line do-py-xxs do-txt-contraste-color do-px-xxs" href="https://do-root.netlify.app/do.html">Do v1</a>
      </div>
     
      <div class="do-flex do-x do-start-center por">
        <div class="do-wh-md">

        </div>
        <a class="do-bt-line do-py-xxs do-txt-contraste-color do-px-xxs" href="https://do-root.netlify.app/about.html">about</a>
      </div>
     
  </div>

  <nav id="do"
  class="do-flex do-z-0 do-h-10-vh poa top left do-bg-second-color-darken do-p-sm do-overflow-auto do-gap-sm  do-y do-start-start tween-all active:trans-x-before do-o-0 active:do-o-10">
   
        <a class="do-bt-line do-py-xxs do-txt-contraste-color do-px-xxs" href="https://do-root.netlify.app/do/colors.html">colors</a>
        <a class="do-bt-line do-py-xxs do-txt-contraste-color do-px-xxs" href="https://do-root.netlify.app/do/sizes.html">sizes</a>
        <a class="do-bt-line do-py-xxs do-txt-contraste-color do-px-xxs" href="https://do-root.netlify.app/do/class.html">class</a>

  </nav>



</nav>