<nav id="tools-nav"
  class="do-flex do-z-1 do-w-xxl do-h-10 do-bg-second-color poa top left do-y do-center-center tween-all active:trans-x-before do-o-0 active:do-o-10">

  <div
    class="do-w-xs do-h-10 do-bg-extra-color-main-grad-linear-3 poa top left-n-xs-rem tween-trans deep-active:do-scale-x-0">
  </div>


  <div id="theme-edit" class="cursor-pointer do-flex do-y do-align-items-center do-z-2 do-py-xs" data-module="dotoggler"
    data-do-debug="colors" data-do-target="#color-edit" data-do-group="theme">

    <div
      class="do-w-md do-bg-contraste-color-8-darken do-br-md do-overflow-hidden do-h-md por do-mb-xxs tween-trans do-flex do-x do-center-center active:do-rotate-20">
      <div class="do-h-md do-w-10 do-bg-main-color tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-h-md do-w-10 do-bg-extra-color tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-h-md do-w-10 do-bg-second-color tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-h-md do-w-10 do-bg-contraste-color tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-h-md do-w-10 do-bg-fade-color tween-trans deep-active:anim-scale-in "> </div>
    </div>
    <span class="do-txt-contraste-color uppercase do-fs-xxs">Colors</span>
  </div>

  <div id="local-storage-add" class="cursor-pointer do-flex do-y do-align-items-center do-z-2 do-py-xs"
    data-module="dotoggler" data-do-debug="add" data-do-target="#themes-nav" data-do-force="true">

    <div
      class="do-w-md do-bg-contraste-color-8-darken do-br-md do-overflow-hidden do-h-md por do-mb-xxs tween-trans do-flex do-x do-center-center active:do-rotate-20">
      <div class="do-w-sm do-h-xxxs poa center do-bg-main-color tween-trans"> </div>
      <div class="do-h-sm do-w-xxxs do-rotate-10 do-bg-main-color tween-trans"> </div>
    </div>
    <span class="do-txt-contraste-color uppercase do-fs-xxs">Add</span>
  </div>

  <div id="theme-change" class="cursor-pointer do-flex do-y do-align-items-center do-z-2 do-py-xs"
    data-module="dotoggler" data-do-debug="themes" data-do-target="#themes-nav" data-do-group="theme">

    <div
      class="do-w-md do-bg-contraste-color-8-darken do-br-md do-overflow-hidden do-h-md por do-mb-xxs tween-trans do-grid-2 active:do-rotate-20">
      <div class="do-full do-bg-main-color tween-trans deep-active:anim-scale-in" style="
  
              --main-color:15,100%,79%;
              --main-color-H:15;
              --main-color-S:100%;
              --main-color-L:79%;

            "></div>

      <div class="do-full do-bg-extra-color tween-trans deep-active:anim-scale-in" style="
              
            --extra-color:176,96%,52%;
            --extra-color-H:176;
            --extra-color-S:96%;
            --extra-color-L:52%;

            "></div>


      <div class="do-full do-bg-main-color tween-trans deep-active:anim-scale-in" style="
  
              --main-color:62,100%,79%;
              --main-color-H:62;
              --main-color-S:100%;
              --main-color-L:79%;

            "></div>

      <div class="do-full do-bg-extra-color tween-trans deep-active:anim-scale-in" style="
              
            --extra-color:120,96%,52%;
            --extra-color-H:120;
            --extra-color-S:96%;
            --extra-color-L:52%;

            "></div>



    </div>
    <span class="do-txt-contraste-color uppercase do-fs-xxs">Themes</span>
  </div>

  <div id="color-random" class="cursor-pointer do-flex do-y do-align-items-center do-z-2 do-py-xs"
    data-module="dotoggler">
    <div
      class="do-w-md do-bg-contraste-color-8-darken do-br-md do-overflow-hidden do-h-md por do-mb-xxs tween-trans do-grid-2 active:do-rotate-20">
      <div class="do-full do-bg-extra-color do-br-md tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-full do-bg-second-color do-br-md tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-full do-bg-fade-color do-br-md tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-full do-bg-contraste-color do-br-md tween-trans deep-active:anim-scale-in "> </div>
      <div class="do-wh-xs poa center do-bg-main-color do-br-md tween-trans"> </div>
    </div>
    <span class="do-txt-contraste-color uppercase do-fs-xxs">Random</span>
  </div>




  <div id="local-storage-reset" class="cursor-pointer do-flex do-y do-align-items-center do-z-2 do-py-xs"
    data-module="dotoggler">
    <div
      class="do-w-md do-bg-contraste-color-8-darken do-br-md do-overflow-hidden do-h-md por do-mb-xxs tween-trans do-flex do-x do-center-center active:do-rotate-20">
      <div class="do-wh-sm do-bg-main-color tween-trans deep-active:anim-scale-in "> </div>
    </div>
    <span class="do-txt-second-color uppercase do-fs-xxs">Reset</span>
  </div>

  <nav id="color-edit"
    class="do-flex do-z-0 do-w-10-vw do-max-w-lg do-h-10-vh poa top left do-bg-contraste-color-9 do-p-sm do-overflow-auto do-gap-sm do-y do-grid-5 do-start-center tween-all active:trans-x-before do-o-0 active:do-o-10">


    <div class="do-full do-grid-2 por">

      <h5 class="poa do-z-2 uppercase reset top left do-txt-main-color do-bg-main-color-auto">main</h5>
      <div data-do-color="main" data-do-mode-color="h" class="do-full do-bg-main-color tween-none do-grid-col-full">
      </div>
      <div data-do-color="main" data-do-mode-color="s" class="do-full do-bg-main-color-hue tween-none"></div>
      <div data-do-color="main" data-do-mode-color="l" class="do-full do-bg-main-color-gray tween-none"></div>

    </div>
    <div class="do-full do-grid-2 por">

      <h5 class="poa do-z-2 uppercase reset top left do-txt-extra-color do-bg-extra-color-auto">extra</h5>
      <div data-do-color="extra" data-do-mode-color="h" class="do-full do-bg-extra-color tween-none do-grid-col-full">
      </div>
      <div data-do-color="extra" data-do-mode-color="s" class="do-full do-bg-extra-color-hue tween-none"></div>
      <div data-do-color="extra" data-do-mode-color="l" class="do-full do-bg-extra-color-gray tween-none"></div>

    </div>
    <div class="do-full do-grid-2 por">

      <h5 class="poa do-z-2 uppercase reset top left do-txt-second-color do-bg-second-color-auto">second</h5>
      <div data-do-color="second" data-do-mode-color="h" class="do-full do-bg-second-color tween-none do-grid-col-full">
      </div>
      <div data-do-color="second" data-do-mode-color="s" class="do-full do-bg-second-color-hue tween-none"></div>
      <div data-do-color="second" data-do-mode-color="l" class="do-full do-bg-second-color-gray tween-none"></div>

    </div>
    <div class="do-full do-grid-2 por">

      <h5 class="poa do-z-2 uppercase reset top left do-txt-contraste-color do-bg-contraste-color-auto">contraste</h5>
      <div data-do-color="contraste" data-do-mode-color="h" class="do-full do-bg-contraste-color tween-none do-grid-col-full">
      </div>
      <div data-do-color="contraste" data-do-mode-color="s" class="do-full do-bg-contraste-color-hue tween-none"></div>
      <div data-do-color="contraste" data-do-mode-color="l" class="do-full do-bg-contraste-color-gray tween-none"></div>

    </div>
    <div class="do-full do-grid-2 por">

      <h5 class="poa do-z-2 uppercase reset top left do-txt-fade-color do-bg-fade-color-auto">fade</h5>
      <div data-do-color="fade" data-do-mode-color="h" class="do-full do-bg-fade-color tween-none do-grid-col-full">
      </div>
      <div data-do-color="fade" data-do-mode-color="s" class="do-full do-bg-fade-color-hue tween-none"></div>
      <div data-do-color="fade" data-do-mode-color="l" class="do-full do-bg-fade-color-gray tween-none"></div>

    </div>

  </nav>

  <nav id="themes-nav"
    class="do-flex do-z-0 do-w-10-vw do-max-w-lg do-h-10-vh poa top left do-bg-contraste-color-9 do-p-sm do-overflow-auto do-gap-sm do-grid-2 do-start-start tween-all active:trans-x-before do-o-0 active:do-o-10">



    <div class="do-w-10 square theme-item" style="
  
  
              --main:15,100%,79%;
              --main-H:15;
              --main-S:100%;
              --main-L:79%;
  
  
              --extra:176,96%,52%;
              --extra-H:176;
              --extra-S:96%;
              --extra-L:52%;
  
  
              --contraste:36,3.3%,28%;
              --contraste-H:36;
              --contraste-S:3.3%;
              --contraste-L:28%;
  
  
              --second:0,0%,100%;
              --second-H:0;
              --second-S:0%;
              --second-L:100%;
  
  
              --fade:37,20%,84%;
              --fade-H:37;
              --fade-S:20%;
              --fade-L:84%;
  
          
          ">

      <div class="content" style="
  
  
              --main-color:15,100%,79%;
              --main-color-H:15;
              --main-color-S:100%;
              --main-color-L:79%;
  
  
              --extra-color:176,96%,52%;
              --extra-color-H:176;
              --extra-color-S:96%;
              --extra-color-L:52%;
  
  
              --contraste-color:36,3.3%,28%;
              --contraste-color-H:36;
              --contraste-color-S:3.3%;
              --contraste-color-L:28%;
  
  
              --second-color:0,0%,100%;
              --second-color-H:0;
              --second-color-S:0%;
              --second-color-L:100%;
  
  
              --fade-color:37,20%,84%;
              --fade-color-H:37;
              --fade-color-S:20%;
              --fade-color-L:84%;
  
          
          ">

        <h5 class="poa do-z-2 uppercase reset top left do-txt-main-color do-bg-main-color-auto">test test</h5>

        <div class="do-full poa">

          <div class="do-gold-xxxl poa do-bg-main-color">
          </div>
          <div class="do-gold-xxl poa bottom right do-bg-extra-color">
          </div>
          <div class="do-gold-xl poa bottom right do-bg-fade-color">
          </div>
          <div class="do-gold-lg poa bottom right do-bg-second-color">
          </div>
          <div class="do-gold-md poa bottom right do-bg-contraste-color">
          </div>
          <div class="do-gold-sm poa bottom right do-bg-main-color-extra-grad-linear-7">
          </div>

        </div>

      </div>
    </div>


    <div class="do-w-10 square theme-item" style="
  
  
              --main:62,100%,79%;
              --main-H:62;
              --main-S:100%;
              --main-L:79%;
  
  
              --extra:120,96%,52%;
              --extra-H:120;
              --extra-S:96%;
              --extra-L:52%;
  
  
              --contraste:36,3.3%,28%;
              --contraste-H:36;
              --contraste-S:3.3%;
              --contraste-L:28%;
  
  
              --second:0,0%,100%;
              --second-H:0;
              --second-S:0%;
              --second-L:100%;
  
  
              --fade:37,20%,84%;
              --fade-H:37;
              --fade-S:20%;
              --fade-L:84%;
  
          
          ">

      <div class="content" style="
  
  
              --main-color:62,100%,79%;
              --main-color-H:62;
              --main-color-S:100%;
              --main-color-L:79%;
  
  
              --extra-color:120,96%,52%;
              --extra-color-H:120;
              --extra-color-S:96%;
              --extra-color-L:52%;
  
  
              --contraste-color:36,3.3%,28%;
              --contraste-color-H:36;
              --contraste-color-S:3.3%;
              --contraste-color-L:28%;
  
  
              --second-color:0,0%,100%;
              --second-color-H:0;
              --second-color-S:0%;
              --second-color-L:100%;
  
  
              --fade-color:37,20%,84%;
              --fade-color-H:37;
              --fade-color-S:20%;
              --fade-color-L:84%;
  
          
          ">

        <h5 class="poa do-z-2 uppercase reset top left do-txt-main-color do-bg-main-color-auto">test test 2</h5>

        <div class="do-full poa">

          <div class="do-gold-xxxl poa do-bg-main-color">
          </div>
          <div class="do-gold-xxl poa bottom right do-bg-extra-color">
          </div>
          <div class="do-gold-xl poa bottom right do-bg-fade-color">
          </div>
          <div class="do-gold-lg poa bottom right do-bg-second-color">
          </div>
          <div class="do-gold-md poa bottom right do-bg-contraste-color">
          </div>
          <div class="do-gold-sm poa bottom right do-bg-main-color-extra-grad-linear-7">
          </div>

        </div>

      </div>
    </div>


    <div class="do-w-10 square theme-item current-theme-item do-hide">

      <div class="content">

        <h5 class="poa do-z-2 uppercase reset top left do-txt-main-color do-bg-main-color-auto">Current</h5>

        <div class="do-full poa">

          <div class="do-gold-xxxl poa do-bg-main-color">
          </div>
          <div class="do-gold-xxl poa bottom right do-bg-extra-color">
          </div>
          <div class="do-gold-xl poa bottom right do-bg-fade-color">
          </div>
          <div class="do-gold-lg poa bottom right do-bg-second-color">
          </div>
          <div class="do-gold-md poa bottom right do-bg-contraste-color">
          </div>
          <div class="do-gold-sm poa bottom right do-bg-main-color-extra-grad-linear-7">
          </div>

        </div>

      </div>
    </div>


  </nav>

</nav>