{{> ../partials/head}}
{{> ../partials/nav}}

<script type="text/javascript" src="{{{rootPath}}}js/do/modules/do-module-tags.js"></script>

<section class="por h-auto do-px-smart-xxxl do-pt-xxl do-pb-md por do-z-1 do-h-10-vh">
    <div class="do-flex do-x do-start-center por">
        <a class="do-p-sm poa left-n-xs-rem do-br-xl do-bg-extra-color-main-grad-linear-3 trans-y-middle-x-before " href="../do.html">
            <div class="do-wh-xs poa top-middle left trans-y-middle-x-before do-z-2">
                {{> ../partials/assets/icones/prev}}
            </div>

            <span class="do-z-2 do-fs-sm por do-txt-main-contraste-auto do-fw-light">do</span>
            <div class="do-z-1 do-full do-br-xl do-bg-second-color poa top-n-xl left-n-xl"></div>  
        </a>
        <h1>9 sizes</h1>
    </div>
    <p class="do-max-w-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique saepe ducimus ex cupiditate suscipit esse nostrum mollitia repellendus minima. Quia nemo ipsum fugiat est? Sunt quas repudiandae pariatur quos tenetur.</p>

</section>

<div class="do-flex do-x do-gap-xs do-px-smart-xxxl do-w-9 pos top do-z-10 do-start-center">
    <input id="rechercheArea" class="do-p-xs reset no-focus do-txt-main-color-auto do-bg-main-color-darken do-fs-xs" type="text" name="class" placeholder="Recherche">
    <nav id="inside-page-nav" class="do-flex do-x do-gap-xs">
        <a class="cursor-pointer do-bg-second-color do-txt-contraste-color active:do-txt-second-color do-p-xs active:do-bg-contraste-color do-bg-second-color-lighten:hover" data-do-id-section-page="percent">percent</a>
        <a class="cursor-pointer do-bg-second-color do-txt-contraste-color active:do-txt-second-color do-p-xs active:do-bg-contraste-color do-bg-second-color-lighten:hover" data-do-id-section-page="rem">rem</a>
        <a class="cursor-pointer do-bg-second-color do-txt-contraste-color active:do-txt-second-color do-p-xs active:do-bg-contraste-color do-bg-second-color-lighten:hover" data-do-id-section-page="px">px</a>
        <a class="cursor-pointer do-bg-second-color do-txt-contraste-color active:do-txt-second-color do-p-xs active:do-bg-contraste-color do-bg-second-color-lighten:hover" data-do-id-section-page="vw">vw</a>
    </nav>
</div>

<div
  data-module="dofilters"
  data-do-stage="#sizes"
  data-do-target=".page-section"
  data-do-nav="#inside-page-nav"
  data-do-bt-attr="data-do-id-section-page"
  data-do-custom-data="data-do-id-section-page"
  data-do-attr="id"
  data-do-sep=""
  data-do-type="solo"
  data-do-tag-index="0"
  data-do-class-toggle="all-active:do-hide"
>
</div>


<div 
  data-module="doscrolldatas"
  data-do-target="#sizes"
  data-do-trigger-calcul="body"
  data-do-calcul="full"
  data-do-update="true"
  data-do-start="top-=0% center"
  data-do-end="bottom-=0% bottom"
  data-do-force="1"
  >
</div>

<section id="sizes" class="por do-px-smart-xxxl h-auto do-py-xxl por do-z-1 do-flex do-y do-gap-xl">

    <div id="percent" class="page-section">
        <h2 class="do-mb-md do-fs-fluid-lg">%</h2>
        <div class="por do-pl-xl do-w-10 do-flex do-y do-gap-md">
            {{#pageDo.sizes}}
                <div class="do-h-md do-w-gold-{{size}} do-bg-main-color do-flex do-y do-center-start">
                    <span class="do-inline-block do-fw-light do-pr-sm uppercase trans-x-before">{{size}}</span>      
                </div>
            {{/pageDo.sizes}}
            <div class="poa top-n-xxl-rem left-middle xl-do-scale-md">

                <span class="do-z-1 get-progress:trans-y-lg poa top left do-txt-main-color-lighten do-inline-block do-fs-xxxl do-fw-light do-o-1 transform-origin-center">%</span>
                <span class="do-z-1 get-progress:trans-y-lg-n poa top left do-txt-extra-color-darken do-inline-block do-fs-xxxl do-fw-light do-o-1 transform-origin-center">%</span>
                <span class="do-z-0 poa top left  do-txt-transparent do-bg-main-color-extra-grad-linear-7 do-bg-clip-text do-inline-block do-fs-xxxl do-fw-light do-o-10 transform-origin-center">%</span>
            
            </div>
        </div>
    </div>

    <div id="rem" class="page-section">
        <h2 class="do-mb-md do-fs-fluid-lg">rem</h2>
        <div class="do-w-10 do-pl-xl por do-flex do-y do-wrap do-gap-md do-start-start">
            {{#pageDo.sizes}}
            <div class="square do-w-{{size}}">
                <div class="content do-full do-bg-main-color por do-flex do-y do-center-start">
                    <div class="do-full do-bg-main-color-grad-linear-6 poa top left get-progress:trans-x-{{size}}-n do-o-1"></div>
                    <span class="do-inline-block do-fw-light do-pr-sm uppercase trans-x-before">{{size}}</span>        
                </div>
            </div>
            {{/pageDo.sizes}}
            <div class="poa top-n-lg-rem left-middle">

                <span class="do-z-1 get-progress:trans-y-lg poa top left do-txt-main-color-lighten do-inline-block do-fs-xxl do-fw-light do-o-1 transform-origin-center">rem</span>
                <span class="do-z-1 get-progress:trans-y-lg-n poa top left do-txt-extra-color-darken do-inline-block do-fs-xxl do-fw-light do-o-1 transform-origin-center">rem</span>
                <span class="do-z-0 poa top left  do-txt-transparent do-bg-main-color-extra-grad-linear-7 do-bg-clip-text do-inline-block do-fs-xxl do-fw-light do-o-10 transform-origin-center">rem</span>
            
            </div>
        </div>
    </div>

    <div id="px" class="page-section">
        <h2 class="do-mb-md do-fs-fluid-lg">px</h2>
        <div class="do-w-10 do-pl-xl por do-flex do-y do-wrap do-gap-md do-start-start">
            {{#pageDo.sizes}}
            <div class="square do-w-px-{{size}}">
                <div class="content do-full do-bg-main-color por do-flex do-y do-center-start">
                    <div class="do-full do-bg-main-color-grad-linear-6 poa top left get-progress:trans-x-{{size}}-n do-o-1"></div>
                    <span class="do-inline-block do-fw-light do-pr-sm uppercase trans-x-before">{{size}}</span>        
                </div>
            </div>
            {{/pageDo.sizes}}
            <div class="poa top-n-lg-rem left-middle">

                <span class="do-z-1 get-progress:trans-y-lg poa top left do-txt-main-color-lighten do-inline-block do-fs-xxl do-fw-light do-o-1 transform-origin-center">px</span>
                <span class="do-z-1 get-progress:trans-y-lg-n poa top left do-txt-extra-color-darken do-inline-block do-fs-xxl do-fw-light do-o-1 transform-origin-center">px</span>
                <span class="do-z-0 poa top left  do-txt-transparent do-bg-main-color-extra-grad-linear-7 do-bg-clip-text do-inline-block do-fs-xxl do-fw-light do-o-10 transform-origin-center">px</span>
            
            </div>
        </div>
    </div>

    <div id="vw" class="page-section">
        <h2 class="do-mb-md do-fs-fluid-lg">vw</h2>
        <div class="do-w-10 do-pl-xl por do-flex do-y do-wrap do-gap-md do-start-start do-overflow-hidden">
            {{#pageDo.sizes}}

                <div class="do-h-md do-w-vw-{{size}} do-bg-main-color do-flex do-y do-center-start">
                    <span class="do-inline-block do-fw-light do-pr-sm uppercase trans-x-before">{{size}}</span>      
                </div>

            {{/pageDo.sizes}}
            <div class="poa top-n-lg-rem left-middle">

                <span class="do-z-1 get-progress:trans-y-lg poa top left do-txt-main-color-lighten do-inline-block do-fs-xxl do-fw-light do-o-1 transform-origin-center">vw</span>
                <span class="do-z-1 get-progress:trans-y-lg-n poa top left do-txt-extra-color-darken do-inline-block do-fs-xxl do-fw-light do-o-1 transform-origin-center">vw</span>
                <span class="do-z-0 poa top left  do-txt-transparent do-bg-main-color-extra-grad-linear-7 do-bg-clip-text do-inline-block do-fs-xxl do-fw-light do-o-10 transform-origin-center">vw</span>
            
            </div>
        </div>
    </div>
       
 

</section>




{{> ../partials/footer}}
{{> ../partials/foot}}