
<footer class="do-bg-second1-color do-overflow-hidden do-px-smart-xl do-pt-smart-xxl do-h-10-vh por do-z-1 do-flex do-col do-justify-content-space-between do-align-items-center">
    
    <div class="por do-mt-xxl por trigger-filter-invert do-z-2">
         <img class="do-h-xxxl do-o-1 do-scale-sm" src="{{{logo}}}" alt="">    
    </div>

    <div class="por do-z-2 do-w-10  do-mb-lg do-flex do-gap-md do-justify-content-space-between do-align-items-center">
        <a class="do-bt-line" href="{{{rootPath}}}">{{copyright}}</a>
        <div class="do-flex do-gap-md do-justify-content-end do-align-items-center">
             {{#nav}}
            <a class="do-bt-line" href="{{{url}}}">{{bt}}</a>
            {{/nav}}
        </div>
    </div>
</footer>
