{{> head pageName='do-branch'}}
{{> nav}}

<script type="text/javascript" src="{{asset 'js/do/do-branch.js'}}"></script>

<div 
  data-module="doscrolldatas"
  data-do-target="#js-branch-con"
  data-do-trigger-calcul="body"
  data-do-ease="power1.out"
  data-do-ease-duration="2"
  data-do-calcul="full"
  data-do-update="true"
  data-do-start="top+=0% top"
  data-do-end="bottom-=0% bottom"
  data-do-force="1"
  >
</div>


<section class="por h-auto do-px-smart-xxxl do-pt-xxl do-pb-md por do-z-1 do-h-10-vh">
    <div class="do-flex do-x do-start-center por">
        <a class="do-p-sm poa left-n-xs-rem do-br-xl do-bg-extra-color-main-grad-linear-3 trans-y-middle-x-before " href="../experiences.html">
            <div class="do-wh-xs poa top-middle left trans-y-middle-x-before do-z-2">
                {{> assets/icones/prev}}
            </div>

            <span class="do-z-2 do-fs-sm por do-txt-main-contraste-auto do-fw-light">do</span>
            <div class="do-z-1 do-full do-br-xl do-bg-second-color poa top-n-xl left-n-xl"></div>  
        </a>
        <h1>do-branch</h1>
    </div>
    <!--<p class="do-w-max-lg">
        <a target="_blank" href="{{asset 'js/do/modules/do-storiz.js'}}">{{asset 'js/do/modules/do-storiz.js'}}</a> 
    </p>-->

</section>



<section id="js-branch-con" class="por do-flex do-y do-align-items-center do-w-10 do-px-xxxl do-h-auto do-py-xxl do-z-1">
    <div class="do-w-px-md do-h-xxl do-bg-extra-color"></div>
  
    <p class="do-fs-sm do-p-sm do-w-max-lg" style="text-align: center;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At molestias iusto, maiores dicta sunt inventore soluta nisi itaque magnam voluptatem fugit numquam quibusdam illo deserunt eaque quos hic voluptas quisquam.</p>
    <div class="do-w-px-md do-h-lg do-bg-extra-color"></div>
    <div class="do-w-10 do-flex do-justify-content-center">
        <h2 class="do-flex do-x do-gap-sm do-fw-light"><span class="do-w-xxxl txt-end">DESIGN</span><div class="do-h-lg">{{> assets/logo}}</div><span class="do-w-xxxl">DEV</span></h2>
    </div>
    <div class="do-w-px-md do-h-lg do-bg-extra-color"></div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="106.494" height="336.123" viewBox="0 0 106.494 336.123">
            <path id="Tracé_1" data-name="Tracé 1" d="M928.256,296.067c0,212.65-104.494,113.2-104.494,336.123" transform="translate(-822.762 -296.067)" fill="none" stroke="#000" stroke-width="2"/>
        </svg>
    </div>
 

</section>




{{> footer}}
{{> foot}}