{{> head pageName='do-three'}}
{{> nav}}

<script type="text/javascript" src="{{asset 'js/do/modules/do-mod-three.js'}}"></script>


<section class="por h-auto do-px-smart-xxxl do-pt-xxl do-pb-md por do-z-1 do-h-10-vh">
    <div class="do-flex do-x do-start-center por">
        <a class="do-p-sm poa left-n-xs-rem do-br-xl do-bg-extra-color-main-grad-linear-3 trans-y-middle-x-before " href="../experiences.html">
            <div class="do-wh-xs poa top-middle left trans-y-middle-x-before do-z-2">
                {{> assets/icones/prev}}
            </div>

            <span class="do-z-2 do-fs-sm por do-txt-main-contraste-auto do-fw-light">do</span>
            <div class="do-z-1 do-full do-br-xl do-bg-second-color poa top-n-xl left-n-xl"></div>  
        </a>
        <h1>do-three</h1>
    </div>
    <p class="do-w-max-lg">
        <a target="_blank" href="{{asset 'js/do/modules/do-mod-three.js'}}">{{asset 'js/do/modules/do-mod-three.js'}}</a> 
    </p>

</section>


<div 
  data-module="dothree"
  data-do-target="#scene-container"
  >
</div>

<section id="scene-container" class="por do-w-9 do-h-10-vh do-bg-fade-color do-py-xxl full do-z-1">

</section>




{{> footer}}
{{> foot}}