{{> partials/head}}
{{> partials/nav}}
<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh">
    <div class="get-progress:trans-y-xxxl">
        <h1 class="reset-x get-progress:o-reverse">{{pageHome.title}}</h1>
        <p class="get-progress:o-reverse">{{pageHome.text}}</p>
    </div>
</section>
<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh do-flex do-align-items-center do-justify-content-center do-gap-xl">
    <div class="do-hide"
    data-module="_domousedatas"
    data-do-target-id="cercle01"
    data-do-calcul="go-in"
    data-do-rayon="2" 
    data-do-offset="0" 
    data-do-force="1"
    >
  </div>
  
    <div id="cube01" class="do-wh-xxl do-flex do-flex-center do-scale-xl">
        <div class="do-gold-xxxl do-bg-extra-color-1 do-flex do-flex-center get-progress:rotate-sm">
            <div class="do-gold-xxl do-bg-extra-color-2 do-flex do-flex-center get-progress:rotate-md ">
                <div class="do-gold-xxl do-bg-extra-color-3 do-flex do-flex-center get-progress:rotate-lg ">    
                    <div class="do-gold-xxl do-bg-extra-color-4 do-flex do-flex-center get-progress:rotate-xl">    
                        <div class="do-gold-xxl do-bg-extra-color-5 do-flex do-flex-center get-progress:rotate-xxl ">    
                            <div class="do-gold-xxl do-bg-second-color-6 do-flex do-flex-center get-progress:rotate-xxxl do-blur-1">    
                
                            </div>  
                        </div>  
                    </div>  
                </div>      
            </div>     
        </div>     
    </div>

</section>

<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh do-flex do-align-items-center do-justify-content-center do-gap-xl">
  
    <div id="_cercle01" class=" do-flex do-flex-center poa center">
      

        <div class="do-wh-xxxl do-scale-lg do-bg-second-color-1 poa get-progress:rotate-lg">
            <div class="do-wh-xxl do-bg-second-color-2 poa top left">
                <div class="do-wh-xl do-bg-second-color-3 poa top right">
                    <div class="do-wh-lg do-bg-second-color-4 poa bottom right">
                        <div class="do-wh-md do-bg-second-color-5 poa bottom left">
                            <div class="do-wh-sm do-bg-second-color-6 poa top left">
                                <div class="do-wh-xs do-bg-second-color-7 poa top right">
                                    <div class="do-wh-xxs do-bg-second-color-8 poa bottom right  do-blur-1 ">
                                        <div class="do-wh-xxxs do-bg-second-color-9 poa bottom left  do-blur-1 ">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
    </div>
</section>
{{> partials/footer}}
{{> partials/foot}}