{{> partials/head}}
{{> partials/nav}}
<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh">
    <div class="get-progress:trans-y-xxxl">
        <h1 class="reset-x get-progress:o-reverse do-fs-fluid-xxl">{{pageHome.title}}</h1>
        <p class="get-progress:o-reverse">{{pageHome.text}}</p>
    </div>
</section>
<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh do-flex do-align-items-center do-justify-content-center do-gap-xl">
    <div class="do-hide"
    data-module="_domousedatas"
    data-do-target-id="cercle01"
    data-do-calcul="go-in"
    data-do-rayon="2" 
    data-do-offset="0" 
    data-do-force="1"
    >
  </div>
  
    <div id="cube01" class="do-wh-xxl do-flex do-flex-center xl-do-scale-xl">
        <div class="do-gold-xxxl do-bg-extra-color-1 do-flex do-flex-center get-progress:rotate-sm">
            <div class="do-gold-xxl do-bg-extra-color-2 do-flex do-flex-center get-progress:rotate-md ">
                <div class="do-gold-xxl do-bg-extra-color-3 do-flex do-flex-center get-progress:rotate-lg ">    
                    <div class="do-gold-xxl do-bg-extra-color-4 do-flex do-flex-center get-progress:rotate-xl">    
                        <div class="do-gold-xxl do-bg-extra-color-5 do-flex do-flex-center get-progress:rotate-xxl ">    
                            <div class="do-gold-xxl do-bg-second-color-6 do-flex do-flex-center get-progress:rotate-xxxl do-blur-1">    
                
                            </div>  
                        </div>  
                    </div>  
                </div>      
            </div>     
        </div>     
    </div>

</section>

<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh do-flex do-align-items-center do-justify-content-center do-gap-xls">
  
    <div class="do-wh-xxxl do-flex por do-align-items-end">

        <div class="do-full poa do-bg-main-color"></div>
    
        <div class="do-gold-xxl por do-bg-main-color-lighten"></div>
    
        <div class="do-gold-xl por do-bg-main-color-darken"></div>

        <div class="do-w-10 do-h-gold-md poa bottom trans-y-after do-grid-9">
            <div class="do-bg-main-color-1"></div>
            <div class="do-bg-main-color-2"></div>
            <div class="do-bg-main-color-3"></div>
            <div class="do-bg-main-color-4"></div>
            <div class="do-bg-main-color-5"></div>
            <div class="do-bg-main-color-6"></div>
            <div class="do-bg-main-color-7"></div>
            <div class="do-bg-main-color-8"></div>
            <div class="do-bg-main-color-9"></div>

        </div>

    </div>

    <div class="do-wh-xxxl do-flex por do-align-items-end set-main-extra">

        <div class="do-full poa do-bg-main-color"></div>

        <div class="do-gold-xxl por do-bg-main-color-lighten"></div>
    
        <div class="do-gold-xl por do-bg-main-color-darken"></div>

        <div class="do-w-10 do-h-gold-md poa bottom trans-y-after do-grid-9">
            <div class="do-bg-main-color-1"></div>
            <div class="do-bg-main-color-2"></div>
            <div class="do-bg-main-color-3"></div>
            <div class="do-bg-main-color-4"></div>
            <div class="do-bg-main-color-5"></div>
            <div class="do-bg-main-color-6"></div>
            <div class="do-bg-main-color-7"></div>
            <div class="do-bg-main-color-8"></div>
            <div class="do-bg-main-color-9"></div>

        </div>

    </div>

    <div class="do-wh-xxxl do-flex por do-align-items-end set-main-fade">

        <div class="do-full poa do-bg-main-color"></div>

        <div class="do-gold-xxl por do-bg-main-color-lighten"></div>
    
        <div class="do-gold-xl por do-bg-main-color-darken"></div>

        <div class="do-w-10 do-h-gold-md poa bottom trans-y-after do-grid-9">
            <div class="do-bg-main-color-1"></div>
            <div class="do-bg-main-color-2"></div>
            <div class="do-bg-main-color-3"></div>
            <div class="do-bg-main-color-4"></div>
            <div class="do-bg-main-color-5"></div>
            <div class="do-bg-main-color-6"></div>
            <div class="do-bg-main-color-7"></div>
            <div class="do-bg-main-color-8"></div>
            <div class="do-bg-main-color-9"></div>
        </div>
        <div class="do-w-10 do-h-gold-xs poa trans-y-push bottom do-grid-9 do-blur-1">
            <div class="do-bg-main-color-1-lighten"></div>
            <div class="do-bg-main-color-2-lighten"></div>
            <div class="do-bg-main-color-3-lighten"></div>
            <div class="do-bg-main-color-4-lighten"></div>
            <div class="do-bg-main-color-5-lighten"></div>
            <div class="do-bg-main-color-6-lighten"></div>
            <div class="do-bg-main-color-7-lighten"></div>
            <div class="do-bg-main-color-8-lighten"></div>
            <div class="do-bg-main-color-9-lighten"></div>
        </div>

    </div>


</section>
{{> partials/footer}}
{{> partials/foot}}