{{> partials/head}}
{{> partials/nav}}
<section class="por do-px-smart-xxxl do-py-xxl por do-z-1 do-h-10-vh">
    <div class="get-progress:trans-y-xxxl">
        <h1 class="reset-x get-progress:o-reverse do-fs-fluid-xxl">{{pageHome.title}}</h1>
        <p class="get-progress:o-reverse">{{pageHome.text}}</p>
    </div>
</section>
<div class="do-hide"
    data-module="_domousedatas"
    data-do-target-id="cercle01"
    data-do-calcul="go-in"
    data-do-rayon="2" 
    data-do-offset="0" 
    data-do-force="1"
    >
</div>


<section class="por do-px-smart-xxxl do-flex do-gap-xxl do-col do-py-xxl por do-z-1">
  
    <div class="do-grid-2">

        <div class="do-w-10 do-flex do-col">

            <div class="square do-w-10 do-bg-main-color get-progress:trans-y-xs-n">
                <div class="content do-flex do-wrap do-align-content-end do-align-items-end">
                    <div class="do-gold-xxl por do-bg-main-color-lighten do-flex">
                        <div class="do-w-gold-xl do-h-gold-xl por do-bg-main-color-grad-linear-10"></div>
                        <div class="do-w-gold-xxl do-h-gold-xl por do-bg-main-color-grad-linear-gold-5"></div>
                    </div>
                    <div class="do-gold-xl por do-bg-main-color-darken"></div>
                    <div class="do-w-10 do-h-lg poa bottom do-grid-9 trans-y-after">
                        <div class="do-bg-main-color-1 do-full get-progress:trans-y-xxxs-n"></div>
                        <div class="do-bg-main-color-2 do-full get-progress:trans-y-xxs-n"></div>
                        <div class="do-bg-main-color-3 do-full get-progress:trans-y-xs-n"></div>
                        <div class="do-bg-main-color-4 do-full get-progress:trans-y-sm-n"></div>
                        <div class="do-bg-main-color-5 do-full get-progress:trans-y-md-n"></div>
                        <div class="do-bg-main-color-6 do-full get-progress:trans-y-lg-n"></div>
                        <div class="do-bg-main-color-7 do-full get-progress:trans-y-xl-n"></div>
                        <div class="do-bg-main-color-8 do-full get-progress:trans-y-xxl-n"></div>
                        <div class="do-bg-main-color-8 do-full get-progress:trans-y-xxxl-n"></div>
                    </div>
                    <div class="do-w-10 do-h-xxl poa bottom-n-xl-rem do-bg-main-color-grad-linear-gold-8 do-o-3 do-blur-2"></div>

                </div>
            </div>
           
        </div>
        <div class="do-p-sm">
            <h2>MAIN</h2>
        </div>

    </div>

    <div class="do-grid-2 set-main-extra">

        <div class="do-w-10 do-flex do-col">

            <div class="square do-w-10 do-bg-main-color get-progress:trans-y-xs-n">
                <div class="content do-flex do-wrap do-align-content-end do-align-items-end">
                    <div class="do-gold-xxl por do-bg-main-color-lighten do-flex">
                        <div class="do-w-gold-xl do-h-gold-xl por do-bg-main-color-grad-linear-10"></div>
                        <div class="do-w-gold-xxl do-h-gold-xl por do-bg-main-color-grad-linear-gold-5"></div>
                    </div>
                    <div class="do-gold-xl por do-bg-main-color-darken"></div>
                    <div class="do-w-10 do-h-lg poa bottom do-grid-9 trans-y-after">
                        <div class="do-bg-main-color-1 do-full get-progress:trans-y-xxxs-n"></div>
                        <div class="do-bg-main-color-2 do-full get-progress:trans-y-xxs-n"></div>
                        <div class="do-bg-main-color-3 do-full get-progress:trans-y-xs-n"></div>
                        <div class="do-bg-main-color-4 do-full get-progress:trans-y-sm-n"></div>
                        <div class="do-bg-main-color-5 do-full get-progress:trans-y-md-n"></div>
                        <div class="do-bg-main-color-6 do-full get-progress:trans-y-lg-n"></div>
                        <div class="do-bg-main-color-7 do-full get-progress:trans-y-xl-n"></div>
                        <div class="do-bg-main-color-8 do-full get-progress:trans-y-xxl-n"></div>
                        <div class="do-bg-main-color-8 do-full get-progress:trans-y-xxxl-n"></div>
                    </div>
                    <div class="do-w-10 do-h-xxl poa bottom-n-xl-rem do-bg-main-color-grad-linear-gold-8 do-o-3 do-blur-2"></div>

                </div>
            </div>
           
        </div>
        <div class="do-p-sm">
            <h2>EXTRA</h2>
        </div>

    </div>

    <div class="do-grid-2 set-main-fade">

        <div class="do-w-10 do-flex do-col">

            <div class="square do-w-10 do-bg-main-color get-progress:trans-y-xs-n">
                <div class="content do-flex do-wrap do-align-content-end do-align-items-end">
                    <div class="do-gold-xxl por do-bg-main-color-lighten do-flex">
                        <div class="do-w-gold-xl do-h-gold-xl por do-bg-main-color-grad-linear-10"></div>
                        <div class="do-w-gold-xxl do-h-gold-xl por do-bg-main-color-grad-linear-gold-5"></div>
                    </div>
                    <div class="do-gold-xl por do-bg-main-color-darken"></div>
                    <div class="do-w-10 do-h-lg poa bottom do-grid-9 trans-y-after">
                        <div class="do-bg-main-color-1 do-full get-progress:trans-y-xxxs-n"></div>
                        <div class="do-bg-main-color-2 do-full get-progress:trans-y-xxs-n"></div>
                        <div class="do-bg-main-color-3 do-full get-progress:trans-y-xs-n"></div>
                        <div class="do-bg-main-color-4 do-full get-progress:trans-y-sm-n"></div>
                        <div class="do-bg-main-color-5 do-full get-progress:trans-y-md-n"></div>
                        <div class="do-bg-main-color-6 do-full get-progress:trans-y-lg-n"></div>
                        <div class="do-bg-main-color-7 do-full get-progress:trans-y-xl-n"></div>
                        <div class="do-bg-main-color-8 do-full get-progress:trans-y-xxl-n"></div>
                        <div class="do-bg-main-color-8 do-full get-progress:trans-y-xxxl-n"></div>
                    </div>
                    <div class="do-w-10 do-h-xxl poa bottom-n-xl-rem do-bg-main-color-grad-linear-gold-8 do-o-3 do-blur-2"></div>

                </div>
            </div>
           
        </div>
        <div class="do-p-sm">
            <h2>EXTRA</h2>
        </div>

    </div>
   
</section>
{{> partials/footer}}
{{> partials/foot}}