<div 
  id="color-switcher"
  class="cursor-pointer do-flex do-y do-align-items-center do-z-2 do-p-sm"
  data-module="dotoggler"
  data-do-debug="color-switcher"
  data-do-target="body"
  data-do-custom-target-class="toggleColor">
  <div class="do-wh-md do-bg-main-color-1-auto do-flex do-center-center do-overflow-hidden do-br-md por do-mb-xxs">
    <div class="do-wh-md tween-trans poa left do-trans-x-n-3 deep-active:do-trans-x-3">
      <div class="por do-full do-br-md do-scale-xs do-bg-contraste-color">
        
      </div>
    </div>
    <div class="do-wh-sm poa center">
      <div class="por do-full do-br-md do-scale-xs do-border-second-color do-border-solid do-bw-sm tween-trans">
        
      </div>
    </div>
  </div>
</div>