<div id="site-nav-toggle" class="cursor-pointer por do-z-3 do-flex do-y do-align-items-center do-z-2 do-p-sm"
data-module="dotoggler" data-do-debug="site-nav-toggle@master" data-do-target="#site-nav" data-do-group="theme" data-do-on="mousedown" data-do-is-master="true">       
  <div class="do-wh-md do-bg-main-color-1-auto do-overflow-hidden do-br-md por do-flex do-y do-center-center">
    
      <div class="do-wh-sm do-br-md pointer-events-none tween-all deep-active:do-trans-x-n-2 do-o-10 deep-active:do-o-0">

        {{> assets/icones/burger}}

      </div>

      <div class="do-wh-sm poa center tween-all do-o-0 deep-active:do-o-10">
        <div class="por do-full do-br-md do-scale-xs do-border-second-color do-border-solid do-bw-sm tween-trans">
          
        </div>
      </div>

  </div>
</div>