@charset "UTF-8";
/*
-
FRAMEWORK DO v1.1
-
*/
/*
$do-smart : (
  "px-smart": ("props" :("padding-left","padding-right"), "unit": 1rem),
  "py-smart": ("props" :("padding-top","padding-bottom"), "unit": 1rem),
  "pl-smart": ("props" :("padding-left"), "unit": 1rem),
  "pr-smart": ("props" :("padding-right"), "unit": 1rem),
  "my-smart": ("props" :("margin-top","margin-bottom"), "unit": 1rem),
  "left-smart": ("props" :("left"), "unit": 1rem),
  "right-smart": ("props" :("right"), "unit": 1rem)
);*/
/*
-
Les couleurs v2 !!!

ajouter : https://blog.jim-nielsen.com/2021/css-relative-colors/
-
*/
.filter-invert {
  filter: invert(1) grayscale(1);
}

@media (prefers-color-scheme: dark) {
  .trigger-filter-invert {
    filter: invert(1) grayscale(1);
  }

  .filter-invert {
    filter: invert(0) grayscale(0) !important;
  }
}
/*
-
FRAMEWORK DO v1.1
-
Core de la créature
-
*/
:root {
  --xxxs: 0.34;
}
:root {
  --xxs: 0.55;
}
:root {
  --xs: 0.89;
}
:root {
  --sm: 1.44;
}
:root {
  --md: 2.33;
}
:root {
  --lg: 3.77;
}
:root {
  --xl: 6.1;
}
:root {
  --xxl: 9.87;
}
:root {
  --xxxl: 15.97;
}

.do-h-px-xxxs {
  height: 0.34px;
}

.do-w-xxxs {
  width: 0.34rem;
}

.do-w-px-xxxs {
  width: 0.34px;
}

.do-wh-xxxs {
  width: 0.34rem;
  height: 0.34rem;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-xxxs {
  transform:  rotate(calc(var(--progress)* -5.54deg)) scaleX(calc(var(--progress)* 0.34));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-xxxs {
  top: calc(var(--progress)* 3.46%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/

.do-py-xxs {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

.do-w-xxs {
  width: 0.55rem;
}

.do-wh-xxs {
  width: 0.55rem;
  height: 0.55rem;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-xxs {
  transform:  rotate(calc(var(--progress)* -8.95deg)) scaleX(calc(var(--progress)* 0.55));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-xxs {
  top: calc(var(--progress)* 5.59%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/

.do-py-xs {
  padding-top: 0.89rem;
  padding-bottom: 0.89rem;
}

.do-ml-xs {
  margin-left: 0.89rem;
}

.do-h-xs {
  height: 0.89rem;
}

.do-w-xs {
  width: 0.89rem;
}

.do-wh-xs {
  width: 0.89rem;
  height: 0.89rem;
}

.do-scale-xs {
  transform: scale(0.89);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-xs {
  transform:  rotate(calc(var(--progress)* -14.49deg)) scaleX(calc(var(--progress)* 0.89));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-xs {
  top: calc(var(--progress)* 9.05%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/


#nav a.main-link {
  padding-top: 1.44rem;
  padding-bottom: 1.44rem;
}


#nav a.main-link {
  margin-right: 1.44rem;
}

.do-h-sm {
  height: 1.44rem;
}

.do-w-sm {
  width: 1.44rem;
}

.do-wh-sm {
  width: 1.44rem;
  height: 1.44rem;
}

.right-sm-rem {
  right: 1.44rem;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-sm {
  transform:  rotate(calc(var(--progress)* -23.44deg)) scaleX(calc(var(--progress)* 1.44));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:rotate-sm {
  transform:  rotate(calc(var(--progress)* -6.05deg));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-sm {
  top: calc(var(--progress)* 14.64%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/

.do-h-md {
  height: 2.33rem;
}

.do-w-md {
  width: 2.33rem;
}

.do-wh-md {
  width: 2.33rem;
  height: 2.33rem;
}

.do-br-md {
  border-radius: 2.33rem;
}

.do-gap-md {
  grid-gap: 2.33rem;
}

.left-md-rem {
  left: 2.33rem;
}

.right-md-rem {
  right: 2.33rem;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-md {
  transform:  rotate(calc(var(--progress)* -37.93deg)) scaleX(calc(var(--progress)* 2.33));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:rotate-md {
  transform:  rotate(calc(var(--progress)* -9.79deg));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-md {
  top: calc(var(--progress)* 23.7%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/

.do-mb-lg {
  margin-bottom: 3.77rem;
}

.do-h-px-lg {
  height: 3.77px;
}

.do-w-lg {
  width: 3.77rem;
}

.do-wh-lg {
  width: 3.77rem;
  height: 3.77rem;
}

.do-scale-lg {
  transform: scale(3.77);
}

.top-lg-rem {
  top: 3.77rem;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-lg {
  transform:  rotate(calc(var(--progress)* -61.38deg)) scaleX(calc(var(--progress)* 3.77));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:rotate-lg {
  transform:  rotate(calc(var(--progress)* -15.83deg));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-lg {
  top: calc(var(--progress)* 38.34%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

.do-px-smart-lg {
  padding-left: 2.33rem;
  padding-right: 2.33rem;
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1200px) {
  .do-px-smart-lg {
    padding-left: 1.44rem;
    padding-right: 1.44rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1400px) {
  .do-px-smart-lg {
    padding-left: 2.33rem;
    padding-right: 2.33rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1600px) {
  .do-px-smart-lg {
    padding-left: 3.77rem;
    padding-right: 3.77rem;
  }
}

.do-w-xl {
  width: 6.1rem;
}

.do-wh-xl {
  width: 6.1rem;
  height: 6.1rem;
}

.do-scale-xl {
  transform: scale(6.1);
}

.do-gap-xl {
  grid-gap: 6.1rem;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-xl {
  transform:  rotate(calc(var(--progress)* -99.31deg)) scaleX(calc(var(--progress)* 6.1));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:rotate-xl {
  transform:  rotate(calc(var(--progress)* -25.62deg));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-xl {
  top: calc(var(--progress)* 62.04%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/

.do-py-xxl {
  padding-top: 9.87rem;
  padding-bottom: 9.87rem;
}

.do-w-xxl {
  width: 9.87rem;
}

.do-wh-xxl {
  width: 9.87rem;
  height: 9.87rem;
}

.do-gold-xxl {
  height: 61.803%;
  width: 61.803%;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:do-xxl {
  transform:  rotate(calc(var(--progress)* -160.68deg)) scaleX(calc(var(--progress)* 9.87));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:rotate-xxl {
  transform:  rotate(calc(var(--progress)* -41.45deg));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:top-xxl {
  top: calc(var(--progress)* 100.38%);
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}


section {
  padding-left: 2.33rem;
  padding-right: 2.33rem;
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 768px) {
  
section {
    padding-left: 1.44rem;
    padding-right: 1.44rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 992px) {
  
section {
    padding-left: 2.33rem;
    padding-right: 2.33rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1200px) {
  
section {
    padding-left: 3.77rem;
    padding-right: 3.77rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1400px) {
  
section {
    padding-left: 6.1rem;
    padding-right: 6.1rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1600px) {
  
section {
    padding-left: 9.87rem;
    padding-right: 9.87rem;
  }
}

.do-wh-xxxl {
  width: 15.97rem;
  height: 15.97rem;
}

.do-gold-xxxl {
  height: 100%;
  width: 100%;
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:rotate-xxxl {
  transform:  rotate(calc(var(--progress)* -67.07deg));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/
.get-progress\:trans-y-xxxl {
  transform:  translateY(calc(var(--progress)* 159.7%));
}

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

/*
@debug(" INIT $var-name :"$var-name);
@debug(" 0 :"$data-class);
@debug(" 1 $props:"$props);
*/
/*
@debug(" ? isResponsive:"$isResponsive);
@debug(" 2 $prop:"$prop);
@debug(" 3 $params :"$params);
@debug(" 3 $unit :"$unit);
@debug(" 4 $class-full-name :"$class-full-name);
*/

.get-progress\:o-reverse {
  opacity: calc(calc(1 - var(--progress))* 1);
}

.do-px-smart-xxxl {
  padding-left: 2.33rem;
  padding-right: 2.33rem;
}

/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 576px) {
  .do-px-smart-xxxl {
    padding-left: 1.44rem;
    padding-right: 1.44rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 768px) {
  .do-px-smart-xxxl {
    padding-left: 2.33rem;
    padding-right: 2.33rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 992px) {
  .do-px-smart-xxxl {
    padding-left: 3.77rem;
    padding-right: 3.77rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1200px) {
  .do-px-smart-xxxl {
    padding-left: 6.1rem;
    padding-right: 6.1rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1400px) {
  .do-px-smart-xxxl {
    padding-left: 9.87rem;
    padding-right: 9.87rem;
  }
}
/*
$smart-value: decimal-round(math.div($value, $max), 2);
$max: $max + -1;
*/
@media screen and (min-width: 1600px) {
  .do-px-smart-xxxl {
    padding-left: 15.97rem;
    padding-right: 15.97rem;
  }
}

.pof {
  position: fixed !important;
}

.por {
  position: relative;
}

.poa {
  position: absolute !important;
}

.center {
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

[do-event-scroll=down] .scroll-down\:trans-y-before {
  transform: translateY(-100%);
}

[do-event-scroll=down] .scroll-down\:trans-y-after {
  transform: translateY(100%);
}

.left {
  left: 0%;
}

.right {
  right: 0%;
}

.top {
  top: 0%;
}

.bottom {
  bottom: 0%;
}

.do-align-items-center {
  align-items: center;
}

.do-justify-content-center {
  justify-content: center;
}

.do-justify-content-end {
  justify-content: end;
}

.do-justify-content-space-between {
  justify-content: space-between;
}

[do-event-scroll=down] .scroll-down\:do-o-0 {
  opacity: 0;
}

.do-z-0 {
  z-index: 0;
}

.do-z-1 {
  z-index: 1;
}

.do-blur-1 {
  filter: blur(1rem);
}

.do-z-2 {
  z-index: 2;
}

.do-o-4 {
  opacity: 0.4;
}

[do-event-scroll=down] .scroll-down\:do-scale-5 {
  transform: scale(0.5);
}

.do-z-9 {
  z-index: 9;
}

.do-h-10-vh,
section {
  min-height: 100vh;
}

.do-w-10 {
  width: 100%;
}

.do-z-10 {
  z-index: 10;
}

.active .deep-active\:do-trans-x-6 {
  transform: translateX(60%);
}

.do-bg-second-color {
  background-color: rgba(var(--second-color, 1)) !important;
}

.do-bg-second-color-1 {
  background-color: rgba(var(--second-color), 0.1) !important;
}

.do-bg-second-color-2 {
  background-color: rgba(var(--second-color), 0.2) !important;
}

.do-bg-second-color-3 {
  background-color: rgba(var(--second-color), 0.3) !important;
}

.do-bg-second-color-4 {
  background-color: rgba(var(--second-color), 0.4) !important;
}

.do-bg-second-color-5 {
  background-color: rgba(var(--second-color), 0.5) !important;
}

.do-bg-second-color-6 {
  background-color: rgba(var(--second-color), 0.6) !important;
}

.do-bg-second-color-7 {
  background-color: rgba(var(--second-color), 0.7) !important;
}

.do-bg-second-color-8 {
  background-color: rgba(var(--second-color), 0.8) !important;
}

.do-bg-second-color-9 {
  background-color: rgba(var(--second-color), 0.9) !important;
}

.do-bg-contraste-color {
  background-color: rgba(var(--contraste-color, 1)) !important;
}

.do-fill-contraste-color {
  fill: rgba(var(--contraste-color, 1)) !important;
}

.do-bg-extra-color-1 {
  background-color: rgba(var(--extra-color), 0.1) !important;
}

.do-bg-extra-color-2 {
  background-color: rgba(var(--extra-color), 0.2) !important;
}

.do-bg-extra-color-3 {
  background-color: rgba(var(--extra-color), 0.3) !important;
}

.do-bg-extra-color-4 {
  background-color: rgba(var(--extra-color), 0.4) !important;
}

.do-bg-extra-color-5 {
  background-color: rgba(var(--extra-color), 0.5) !important;
}

[data-do-bg=fade] {
  background-color: rgba(var(--fade-color), 1);
}

:root {
  --main-color: var(--main);
  --second-color: var(--second);
  --contraste-color: var(--contraste);
  --extra-color: var(--extra);
  --fade-color: var(--fade);
}

.do-block {
  display: block;
}

.do-flex {
  display: flex;
}

.do-hide {
  display: none;
}

.tween-trans {
  transition-property: transform !important;
}

.do-full {
  height: 100%;
  width: 100%;
}

.do-overflow-hidden {
  overflow: hidden;
}

.do-flex-center {
  align-items: center;
  justify-content: center;
}

.do-col {
  flex-direction: column;
}
@media screen and (min-width: 992px) {

  .lg-do-block {
    display: block;
  }

  .lg-do-hide {
    display: none;
  }

  .lg-do-row {
    flex-direction: row;
  }
}
h1 {
  font-size: 3.77rem;
  font-size: max(3.77rem, 16px);
}

h1.reset-x {
  transform: translateX(-0.075em);
}

h2 {
  font-size: 2.33rem;
  font-size: max(2.33rem, 16px);
}

h2.reset-x {
  transform: translateX(-0.075em);
}

h3 {
  font-size: 1.44rem;
  font-size: max(1.44rem, 16px);
}

h3.reset-x {
  transform: translateX(-0.075em);
}

h4 {
  font-size: 1.44rem;
  font-size: max(1.44rem, 16px);
}

h4.reset-x {
  transform: translateX(-0.075em);
}

h5 {
  font-size: 0.89rem;
  font-size: max(0.89rem, 16px);
}

h5.reset-x {
  transform: translateX(-0.075em);
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

h6 {
  font-size: 0.89rem;
  font-size: max(0.89rem, 16px);
}

h6.reset-x {
  transform: translateX(-0.075em);
}

@media screen and (max-width: 768px) {
  h6 {
    font-size: 16px;
  }
}

p {
  font-size: 0.89rem;
  font-size: max(0.89rem, 16px);
}

p.reset-x {
  transform: translateX(-0.075em);
}

@media screen and (max-width: 768px) {
  p {
    font-size: 16px;
  }
}

a {
  font-size: 0.89rem;
  font-size: max(0.89rem, 16px);
}

a.reset-x {
  transform: translateX(-0.075em);
}

@media screen and (max-width: 768px) {
  a {
    font-size: 16px;
  }
}

span {
  font-size: 0.89rem;
  font-size: max(0.89rem, 16px);
}

span.reset-x {
  transform: translateX(-0.075em);
}

@media screen and (max-width: 768px) {
  span {
    font-size: 16px;
  }
}

/*
-
FRAMEWORK DO
-
Easy design !
-
*/

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-size: clamp(10px, 1vw, 20px);
}

body {
  font-size: 1rem;
  color: rgba(var(--contraste-color, 1));
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(var(--main-color, 0.1));
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: rgba(var(--main-color, 1));
}

a {
  text-decoration: none;
  color: rgba(var(--contraste-color, 1));
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

a:hover {
  text-decoration: none;
  color: rgba(var(--main-color, 1));
}

a.reset {
  color: rgba(var(--main-color, 1));
}

a.reset:hover {
  color: rgba(var(--main-color, 0.8));
}

/* Slider */

/* Arrows */

/* Dots */

#burger {
  border-radius: 100%;
}

#burger.active {
  transform: rotate(90deg);
}

@media (max-width: 991.98px) {
  #main-nav.open {
    position: absolute;
    display: flex !important;
    gap: 3vh;
    width: 100%;
    height: 100vh;
    left: 0px !important;
    top: calc(var(--navHeight) * 1px);
    top: 0px;
    background-color: rgba(var(--second-color), 0.8);
    z-index: 1;
    backdrop-filter: blur(4.2px);
    transform: none !important;
  }

  #main-nav.open a {
    display: block;
    text-align: center;
  }
}

#nav a.main-link {
  position: relative;
  text-transform: uppercase;
}

#nav a.main-link::after {
  content: "";
  z-index: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(var(--main-color), 1);
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.2s, transform 0.4s;
}

#nav a.main-link::before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background-color: rgba(var(--contraste-color), 1);
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 0.2s, transform 0.4s;
}

#nav a.main-link:hover, #nav a.main-link.active {
  color: rgba(var(--second-color), 0.8);
}

#nav a.main-link:hover::after, #nav a.main-link.active::after {
  opacity: 1;
  transform: scale(1);
}

#nav a.main-link:hover::before, #nav a.main-link.active::before {
  opacity: 1;
  transform: scale(1.2);
}

/*
-
FRAMEWORK DO
-
Tweens système
-
*/
*[class*=tween-] {
  transition: all 0.3s ease-out;
}

@keyframes tween-clip {
  0% {
    clip-path: polygon(0 85%, 0% 100%, 17% 100%);
  }
  50% {
    clip-path: polygon(0 38%, 39% 0, 100% 100%);
  }
  100% {
    clip-path: polygon(79% 0, 100% 0, 100% 23%);
  }
}

@keyframes tween-pulse {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes tween-roll-y {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}
@keyframes tween-roll3-x {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
@keyframes tween-roll4-x {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes tween-roll-x {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}
@keyframes tween-roll2-x {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
    transform: translateX(200%);
  }
  51% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes tween-roll2-y {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  30% {
    opacity: 0;
    transform: translateY(50%);
  }
  31% {
    opacity: 0;
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  99% {
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-10%);
  }
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(10%);
  }
  1% {
    display: flex;
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fade-in-simple {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#hello {
  content: "welcome :)";
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  width: 100%;
}

section.full {
  padding: 0px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.do-bt-line {
  position: relative;
}

.do-bt-line span {
  color: rgba(var(--main-color), 1);
}

.do-bt-line:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--main-color), 1);
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: scaleX(1);
}

.do-bt-line:hover:after {
  opacity: 1;
  transform: scaleX(0);
}

/*# sourceMappingURL=do.css.map */

body, [data-do-bg], [class*="do-bg-"]{
    transition:background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
[class*="do-fill-"]{
    transition:fill 0.5s ease-in-out;
}

[data-do-mu="hide"]{
    display: none;
}


.trigger-filter-invert{
    transition:filter 0.5s ease-in-out;
}

