<div 
  data-module="doscrolldatas"
  data-do-target="body"
  data-do-calcul="full"
  data-do-update="true"
  data-do-start="top+=0% top"
  data-do-end="bottom-=0% bottom"
  data-do-force="1"
  >
</div>

<div id="stageBg" class="bg-grid do-px-smart-xxxl pof top left do-full do-z-0 do-flex do-justify-content-space-between">

    <div class="do-w-xl por do-overflow-hidden">
        <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa left do-bg-second-color-1"></div>
        <div class="do-o-4 do-h-10-vh do-w-px-xxs poa right trans-x-before do-bg-second-color-1"></div>
        <div class="do-h-px-xxxl do-w-xxl do-bg-main-color poa do-z-2 get-progress:do-xxl get-progress:top-xxl"></div>
        <div class="do-h-px-xxl do-w-xl do-bg-second-color-3 poa do-z-2 get-progress:do-xl get-progress:top-xl"></div>
        <div class="do-h-px-xl do-w-lg do-bg-second-color-3 poa do-z-2 get-progress:do-lg get-progress:top-lg"></div>
        <div class="do-h-px-lg do-w-md do-bg-extra-color poa do-z-2 get-progress:do-md get-progress:top-md"></div>
        <div class="do-h-px-md do-w-sm do-bg-second-color-3 poa do-z-2 get-progress:do-sm get-progress:top-sm"></div>
        <div class="do-h-px-sm do-w-xs do-bg-second-color-3 poa do-z-2 get-progress:do-xs get-progress:top-xs"></div>
        <div class="do-h-px-xs do-w-xxs do-bg-second-color-3 poa do-z-2 get-progress:do-xxs get-progress:top-xxs"></div>
        <div class="do-h-px-xxs do-w-xxxs do-bg-second-color-3 poa do-z-2 get-progress:do-xxxs get-progress:top-xxxs"></div>
    </div>

    <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa right-md-rem do-bg-second-color-1"></div>
    <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa do-z-1 center do-bg-second-color-1"></div>
    <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa left-md-rem do-bg-second-color-1"></div>

    <div class="do-w-xl por">
        <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa left do-bg-second-color-1"></div>
        <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa right do-bg-second-color-1"></div>
    </div>
   
</div>


<footer class="do-overflow-hidden do-px-smart-lg do-py-smart-xl por do-z-1 do-flex do-col do-justify-content-end do-align-items-center">
    


    <div class="por do-z-2 do-w-10 do-flex do-gap-md do-justify-content-space-between do-align-items-center">

        <a class="do-bt-line" href="{{{rootPath}}}">{{copyright}}</a>
        <div class="poa center do-w-md do-z-2">
           {{> logo}}   
        </div>
        <div class="do-flex do-gap-md do-justify-content-end do-align-items-center">
            {{#nav.footer}}
            <a class="do-bt-line" href="{{{url}}}">{{bt}}</a>
            {{/nav.footer}}
        </div>
    </div>
</footer>
