
<div id="stageBg" class="do-o-5 bg-grid do-px-smart-xxxl pof top left do-full do-z-0 do-flex do-justify-content-start">
    <div class="do-w-gold-sm">
        <div class="do-h-10-vh do-w-px-xxxs do-bg-contraste-color"></div>
    </div>
    <div class="do-w-gold-md">
        <div class="do-h-10-vh do-w-px-xxxs do-bg-contraste-color"></div>
    </div>
    <div class="do-w-gold-lg">
        <div class="do-h-10-vh do-w-px-xxxs do-bg-contraste-color"></div>
    </div>
    <div class="do-w-gold-xl">
        <div class="do-h-10-vh do-w-px-xxxs do-bg-contraste-color"></div>
    </div>
    <div class="do-w-gold-xxl">
        <div class="do-h-10-vh do-w-px-xxxs do-bg-contraste-color"></div>
    </div>
    <div class="do-w-gold-xxxl do-bg-fade-color">
        <div class="do-h-10-vh do-w-px-xxxs do-bg-contraste-color"></div>
    </div>

    <div class="do-wh-xxxl do-bg-extra-color poa left  do-o-2"></div>
    <div class="do-wh-xxl do-bg-extra-color poa left do-o-2"></div>
    <div class="do-wh-xl do-bg-extra-color poa left  do-o-2"></div>
    <div class="do-wh-lg do-bg-extra-color poa left do-o-2"></div>
    <div class="do-wh-md do-bg-extra-color poa left do-o-2"></div>
    <div class="do-wh-sm do-bg-extra-color poa left do-o-2"></div>
    
    
</div>


<footer class="do-overflow-hidden do-px-smart-xl do-pt-smart-xxl do-h-10-vh por do-z-1 do-flex do-col do-justify-content-space-between do-align-items-center">
    
    <div class="por do-mt-xxl por trigger-filter-invert do-z-2">
         <img class="do-h-xxxl do-o-1 do-scale-sm" src="{{{logo}}}" alt="">    
    </div>

    <div class="por do-z-2 do-w-10  do-mb-lg do-flex do-gap-md do-justify-content-space-between do-align-items-center">
        <a class="do-bt-line" href="{{{rootPath}}}">{{copyright}}</a>
        <div class="do-flex do-gap-md do-justify-content-end do-align-items-center">
             {{#nav.footer}}
            <a class="do-bt-line" href="{{{url}}}">{{bt}}</a>
            {{/nav.footer}}
        </div>
    </div>
</footer>
