<!DOCTYPE html>
<html lang="en" class="do-bg-second-color-second-grad-linear-0deg">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{titre}}</title>

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  {{#fonts}}
  <link href="https://fonts.googleapis.com/css2?family={{name}}:wght@{{weight}}&display=swap" rel="stylesheet" />
  {{/fonts}}


  <link type="text/css" rel="stylesheet" href="css/styles.css" />


  <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script type="text/javascript" src="js/do/modules/do-mod-toggle.js"></script>
  <script type="text/javascript" src="js/do/modules/do-module-toggle.js"></script>
  <script type="text/javascript" src="js/do/modules/do-module-trigger.js"></script>
  <script type="text/javascript" src="js/do/do-scrollEvents.js"></script>
  <script type="text/javascript" src="js/do/modules/do-module-scrolldatas.js"></script>
  <script type="text/javascript" src="js/do/modules/do-module-mousedatas.js"></script>
  <script type="text/javascript" src="js/do/modules/do-module-tweens.js"></script>


  <script type="text/javascript" src="js/index.js"></script>

  {{> theme}}

</head>



<body class="do-bg-second-color">
  {{> tools}}