
<style>
  :root{
    --main-color:{{themes.do.main}};
    --contraste-color:{{themes.do.contraste}};
    --second-color:{{themes.do.second}};
    --extra-color:{{themes.do.extra}};
    --fade-color:{{themes.do.fade}};
  }
</style>
