
<style type="text/css">

  :root{
    --main:{{themes.do.main.0}},{{themes.do.main.1}},{{themes.do.main.2}};
    --contraste:{{themes.do.contraste.0}},{{themes.do.contraste.1}},{{themes.do.contraste.2}};
    --second:{{themes.do.second.0}},{{themes.do.second.1}},{{themes.do.second.2}};
    --extra:{{themes.do.extra.0}},{{themes.do.extra.1}},{{themes.do.extra.2}};
    --fade:{{themes.do.fade.0}},{{themes.do.fade.1}},{{themes.do.fade.2}};

    --main-H:{{themes.do.main.0}};
    --main-S:{{themes.do.main.1}};
    --main-L:{{themes.do.main.2}};

    --extra-H:{{themes.do.extra.0}};
    --extra-S:{{themes.do.extra.1}};
    --extra-L:{{themes.do.extra.2}};

    --fade-H:{{themes.do.fade.0}};
    --fade-S:{{themes.do.fade.1}};
    --fade-L:{{themes.do.fade.2}};

    --contraste-H:{{themes.do.contraste.0}};
    --contraste-S:{{themes.do.contraste.1}};
    --contraste-L:{{themes.do.contraste.2}};

  }


  body{

    --main-color:var(--main);
    --extra-color:var(--extra);

    --contraste-color:var(--contraste);
    --second-color:var(--second);
    --fade-color:var(--fade);


  }

  .toggleColor{

    --main-color:var(--fade);
    --extra-color:var(--extra);

    --contraste-color:var(--second);
    --second-color:var(--main);
    --fade-color:var(--contraste);

    --main-H:{{themes.do.fade.0}};
    --main-S:{{themes.do.fade.1}};
    --main-L:{{themes.do.fade.2}};

    --fade-H:{{themes.do.contraste.0}};
    --fade-S:{{themes.do.contraste.1}};
    --fade-L:{{themes.do.contraste.2}};

  }

  @media (prefers-color-scheme: dark) {


      .toggleColor{

        --main-color:var(--main);
        --extra-color:var(--extra);

        --contraste-color:var(--contraste);
        --second-color:var(--second);
        --fade-color:var(--fade);

        --main-H:{{themes.do.main.0}};
        --main-S:{{themes.do.main.1}};
        --main-L:{{themes.do.main.2}};

        --fade-H:{{themes.do.fade.0}};
        --fade-S:{{themes.do.fade.1}};
        --fade-L:{{themes.do.fade.2}};

      }

      body{

        --main-color:var(--fade);
        --extra-color:var(--extra);

        --contraste-color:var(--second);
        --second-color:var(--main);
        --fade-color:var(--contraste);

        --main-H:{{themes.do.fade.0}};
        --main-S:{{themes.do.fade.1}};
        --main-L:{{themes.do.fade.2}};

        --fade-H:{{themes.do.contraste.0}};
        --fade-S:{{themes.do.contraste.1}};
        --fade-L:{{themes.do.contraste.2}};

      }



  }

  body{
    font-family: {{typos.body.name}}, sans-serif;
    font-weight: {{typos.body.weight}};
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: {{typos.heading.name}}, sans-serif;
    margin-bottom: 0px;
    font-weight: {{typos.heading.weight}};
  }

</style>
