<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 40">
	<g id="burger" transform="translate(-575 -366)">
	  <rect id="bg" width="40" height="40" transform="translate(575 366)" opacity="0"/>
	  <g id="lines" transform="translate(0 74)">
		<line class="do-stroke-extra-color-auto" id="Ligne_1" data-name="Ligne 1" x2="28.505" transform="translate(581.247 312.5)" fill="none" stroke-width="1"/>
		<line class="do-stroke-extra-color-auto" id="Ligne_3" data-name="Ligne 3" x2="28.505" transform="translate(581.247 302.5)" fill="none" stroke-width="1"/>
		<line class="do-stroke-extra-color-auto" id="Ligne_4" data-name="Ligne 4" x2="28.505" transform="translate(581.247 322.5)" fill="none" stroke-width="1"/>
	  </g>
	</g>
  </svg>