@use '../do/do_core' as *;
@use '../do/do_color' as *;

#burger{
  border-radius:100%;
  &.active{
    transform:scale(1.2);
  }
}

#main-nav{

  @media (max-width: 991.98px) {

    &.open{
      position: absolute;
      display: flex !important;
      gap: 3vh;
      width: 100%;
      height: 100vh;
      left:0px !important;
      top:calc(var(--navHeight) * 1px);
      top:0px;
      background-color: #ffffffdc;
      z-index: 1;
      backdrop-filter: blur(4.2px);
      transform: none !important;
      
      a{
        display: block;
        text-align: center;
      }
    }
  }
}

.darkmode{
  #main-nav.open{
    background-color: #000000dc;
  }
}


#les-filtres{

  @media (max-width: 991.98px) {

    &.open{

      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: auto;
      height: 100vh;
      left:0px !important;
      background-color: #ffffffcb;
      transform: none !important;
      
    }
  }
}

body.blocus{
  overflow: hidden;
}

body.light-mode{
  #main-nav{
    &.open{
      background-color: #fffffff2;
    }
  }
}


#nav a.main-link{
  position: relative;
  text-transform: uppercase;
  @extend %py-sm;
  @extend %mr-sm;

  
  &::after{
 
      content: "";
      z-index: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom:0px;
      left:0px;
      background-color: var(--main-color);
      transform:scale(0);
      opacity: 0;
      transition:opacity 0.2s, transform 0.4s;

    }

    &::before{
 
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom:0px;
      left:0px;
      background-color: var(--contraste1-color);
      transform:scale(0.9);
      opacity: 0;
      transition:opacity 0.2s, transform 0.4s;

    }
  &:hover,&.active{
    
    color:var(--second-color);

    &::after{
      opacity: 1;
      transform:scale(1);
    }
    &::before{
      opacity: 1;
      transform:scale(1.2);
    }
  }
}

#scroll-nav-rules{
  a{
    > .circle{
      background-color:var(--second3-color);
      .circle{
        opacity: 0;
      }
      .line{
        transform:scaleX(0) translateX(100%);
      }
    }
  }
  a.active{
    > .circle{
      background-color:var(--main-color);
      .circle{
        opacity: 1;
      }
      .line{
        transform:scaleX(1) translateX(100%);
      }
    }
  }
}