<div 
  data-module="doscrolldatas"
  data-do-target="#stageBg"
  data-do-trigger-calcul="body"
  data-do-ease="power1.out"
  data-do-ease-duration="2"
  data-do-calcul="full"
  data-do-update="true"
  data-do-start="top+=0% top"
  data-do-end="bottom-=0% bottom"
  data-do-force="1"
  >
</div>

<div id="stageBg" class="bg-grid do-px-smart-xxxl pof top left do-full do-z-0 do-flex do-justify-content-space-between">

  
    <img src="imgs/planete/1x/fast.png" class="do-w-5 do-o-1 poa top right get-progress:trans-y-lg-n" alt="">
 

    <div class="do-w-xl por do-overflow-hidden">
        <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa left do-bg-contraste-color-3"></div>
        <div class="do-o-4 do-h-10-vh do-w-px-xxs poa right trans-x-before do-bg-contraste-color-3"></div>
        <div class="do-h-px-xxs do-w-xxl do-bg-main-color poa do-z-2 get-progress:do-xxl get-progress:top-xxl"></div>
        <div class="do-h-px-xxs do-w-xl do-bg-contraste-color-3 poa do-z-2 get-progress:do-xl get-progress:top-xl"></div>
        <div class="do-h-px-xxs do-w-lg do-bg-contraste-color-3 poa do-z-2 get-progress:do-lg get-progress:top-lg"></div>
        <div class="do-h-px-xxs do-w-md do-bg-extra-color poa do-z-2 get-progress:do-md get-progress:top-md"></div>
        <div class="do-h-px-xxs do-w-sm do-bg-contraste-color-3 poa do-z-2 get-progress:do-sm get-progress:top-sm"></div>
        <div class="do-h-px-xxs do-w-xs do-bg-contraste-color-3 poa do-z-2 get-progress:do-xs get-progress:top-xs"></div>
        <div class="do-h-px-xxs do-w-xxs do-bg-contraste-color-3 poa do-z-2 get-progress:do-xxs get-progress:top-xxs"></div>
        <div class="do-h-px-xxs do-w-xxxs do-bg-contraste-color-3 poa do-z-2 get-progress:do-xxxs get-progress:top-xxxs"></div>
    </div>

    <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa right-md-rem do-bg-contraste-color-3"></div>
    <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa do-z-1 center do-bg-contraste-color-3"></div>
    <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa left-md-rem do-bg-contraste-color-3"></div>

    <div class="do-w-xl por">
        <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa left do-bg-contraste-color-3"></div>
        <div class="do-o-4 do-h-10-vh do-w-px-xxxs poa right do-bg-contraste-color-3"></div>
    </div>
   
</div>


<footer class="do-overflow-hidden do-px-smart-lg do-pt-smart-xl do-pb-xs por do-z-1 do-flex do-col do-justify-content-end do-align-items-center">
    


    <div class="por do-z-2 do-w-10 do-flex do-gap-md do-justify-content-space-between do-align-items-center">

        <a class="do-bt-line" href="{{asset ''}}">{{copyright}}</a>
        <div class="poa center do-w-md do-z-2 do-hide">
           {{> assets/logo}}   
        </div>
        <div class="do-flex do-gap-md do-justify-content-end do-align-items-center do-hide">
            {{#nav.footer}}
            <a class="do-bt-line" href="{{{url}}}">{{bt}}</a>
            {{/nav.footer}}
        </div>
    </div>
</footer>
