
  <div id="nav" class="do-w-10 pof do-px-smart-lg do-z-9 do-flex do-justify-content-space-between do-align-items-center tween-trans scroll-down:trans-y-before">
    <a id="logo" href="{{asset ''}}" class="do-py-xxs por do-z-2 tween-trans scroll-down:trans-y-after">
      <div class="por do-h-md tween-trans scroll-down:do-scale-5 transform-origin-left">
        {{> assets/logo}}
      </div>
    </a>
 
    <div data-do-mu="{{nav.background}}" class="poa do-full do-bg-second-color top left pointer-events-none do-z-1"></div>
    <div data-do-mu="{{nav.background}}" class="poa do-w-10 do-h-px-lg do-blur-1 do-bg-contraste-color bottom left pointer-events-none do-z-0 scroll-down:do-o-0"></div>
  </div>


