[data-do-bg], [class*="do-bg-"],[data-do-txt], [class*="do-txt-"]{
    transition:background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

[class*="grad-"]{
    transition:background 0.5s ease-in-out;
}

[class*="do-fill-"]{
    transition:fill 0.5s ease-in-out;
}
[class*="do-stroke-"]{
    transition:stroke 0.5s ease-in-out;
}

[data-do-mu="hide"]{
    display: none;
}

.tween-none{
    transition: none !important;
}


.trigger-filter-invert{
    transition:filter 0.5s ease-in-out;
}


.custom-data::after{

    content:"data-do";
    content: attr(data-do-progress);
    display: block;
    color:white;
    font-size:5rem;
    text-align:center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 10;

}

[data-do-_progress]::after {
    content: attr(data-do-progress);
}

#custom{
    perspective: 800px;
}
[data-do-opacity] {
 
    opacity: min( 1, calc(var(--progress)*2));
    --p: calc(var(--progress) * 2);
    transform: translateY( calc( calc( 1 - var(--p) ) * -10% ) ) rotateX( calc( calc( 1 - var(--p) ) * -10deg )) rotateY( calc( calc( 1 - var(--p) ) * 10deg )) rotateZ( calc( calc( 1 - var(--p) ) * -3deg ));

}

.set-force-sm{
    --force:var(--sm);
    --progress: calc(var(--force) * var(--progress));
}
.set-force-md{
    --force:var(--md);
    --progress: calc(var(--force) * var(--progress));
}

[data-do-draw] *{
    position: relative;
}

[data-do-draw] .line{
   opacity: 0.5;
}

[data-do-draw] [do-draw-x] > .line{
    width: calc(var(--progress) * 100vw);
    position: absolute;
    height: 1px;
    background-color: var(--contraste-color);
    left: 50%;
    bottom: 0%;
    pointer-events: none;
    transform: translateX(-50%);
}

[data-do-draw] [do-draw-x] > .line:nth-child(2){
    bottom: calc(100% - 1px);
}

[data-do-draw] [do-draw-y] > .line{
    height: calc(var(--progress) * 100vh);
    position: absolute;
    width: 1px;
    background-color: var(--contraste-color);
    left: 0%;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
}

[data-do-draw] [do-draw-y] > .line:nth-child(2){
    left: calc(100% - 1px);
}

