<div class="do-bg-second-color-2-darken do-p-xxs do-hide beta:do-block">
    <span class="do-fw-bold">break-points :</span>
    <div class="do-gap-xxs do-grid-1 do-fs-xs">
        {{#each bps}}
        <div class="do-flex do-x do-space-center">
        <span class="do-block do-fw-light"><span class="do-o-10">.<span class="do-bg-contraste-color do-txt-contraste-color-auto do-fw-bold">{{name}}:</span>do</span>-<span class="do-bg-main-color do-txt-main-color-auto do-fw-regular">{{../name}}</span>-<span class="do-bg-extra-color-darken">size</span></span>   
        <span>{{bp}}</span>
        </div>
        {{/each}}
    </div>
</div>
