<h3 class="do-block do-fw-light">
    <span class="do-o-5">.do</span>-<span class="do-bg-main-color do-txt-main-color-auto do-fw-regular">{{name}}</span>-<span class="do-bg-extra-color-darken">{{choose suffix 'size'}}</span>
</h3> 
                          