<div class="do-bg-second-color-2-darken do-p-xxs">
    <span class="do-fw-bold">{{suffix}} varations :</span>
    <div class="do-gap-xxs do-grid-3 do-fs-xs">
        {{#each variations}}
        <span class="do-block do-fw-light"><span class="do-o-5">.do</span>-<span class="do-bg-main-color do-txt-main-color-auto do-fw-regular">{{../name}}</span>-<span class="do-bg-extra-color-darken">{{.}}</span></span>   
        {{/each}}
    </div>
</div>
