<div id="site-nav-toggle" class="cursor-pointer por do-z-3 do-flex do-y do-align-items-center do-z-2 do-p-sm"
data-module="dotoggler" data-do-debug="master" data-do-target="#site-nav" data-do-group="theme" data-do-on="mousedown" data-do-is-master="true">       
  <div class="do-wh-md do-bg-main-color-1-auto do-overflow-hidden do-br-md por do-flex do-y do-center-center">
    
      <div class="do-wh-sm do-br-md pointer-events-none tween-all deep-active:do-trans-x-n-2 do-o-10 deep-active:do-o-0">

        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 40">
        	<g id="burger" transform="translate(-575 -366)">
        	  <rect id="bg" width="40" height="40" transform="translate(575 366)" opacity="0"/>
        	  <g id="lines" transform="translate(0 74)">
        		<line class="do-stroke-extra-color-auto" id="Ligne_1" data-name="Ligne 1" x2="28.505" transform="translate(581.247 312.5)" fill="none" stroke-width="1"/>
        		<line class="do-stroke-extra-color-auto" id="Ligne_3" data-name="Ligne 3" x2="28.505" transform="translate(581.247 302.5)" fill="none" stroke-width="1"/>
        		<line class="do-stroke-extra-color-auto" id="Ligne_4" data-name="Ligne 4" x2="28.505" transform="translate(581.247 322.5)" fill="none" stroke-width="1"/>
        	  </g>
        	</g>
          </svg>
      </div>

      <div class="do-wh-sm poa center tween-all do-o-0 deep-active:do-o-10">
        <div class="por do-full do-br-md do-scale-xs do-border-second-color do-border-solid do-bw-sm tween-trans">
          
        </div>
      </div>

  </div>
</div>