{{> head}}
{{> nav}}
<section class="por h-auto do-px-smart-xxxl do-py-xxl por do-z-1">
 

    {{> assets/planete}}
    <div class="do-h-15-vh do-max-w-lg">
            <h1>Hello</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa exercitationem minima iure repellat, error libero quos voluptatum molestiae delectus molestias animi, dolore et unde praesentium qui, dolorum alias laboriosam labore?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ducimus neque facere ullam qui. Voluptatum veritatis et vero inventore aliquam, esse iusto facilis adipisci facere ut culpa voluptates. Quaerat, quas.</p>
    </div>


</section>
{{> footer}}
{{> foot}}